
h1 {
  color:#0f3875;
  font-size: 40px;
  font-style: italic;
  }

.App {
  text-align: center;
  padding-top: 5px;
  background: ;

}

link {
  color:black;
}

header{
    background: url("./wood.jpg");
    background-size:cover;
    background-position:top;
    background: cover;
}

button {
  padding-bottom: 10px;
}
